@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-Thin.woff2") format("woff2"),
    url("../fonts/LibreFranklin-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-ThinItalic.woff2") format("woff2"),
    url("../fonts/LibreFranklin-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-ExtraLight.woff2") format("woff2"),
    url("../fonts/LibreFranklin-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-ExtraLightItalic.woff2") format("woff2"),
    url("../fonts/LibreFranklin-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-ExtraBold.woff2") format("woff2"),
    url("../fonts/LibreFranklin-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-LightItalic.woff2") format("woff2"),
    url("../fonts/LibreFranklin-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-Light.woff2") format("woff2"),
    url("../fonts/LibreFranklin-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-BlackItalic.woff2") format("woff2"),
    url("../fonts/LibreFranklin-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}



@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-BoldItalic.woff2") format("woff2"),
    url("../fonts/LibreFranklin-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-Black.woff2") format("woff2"),
    url("../fonts/LibreFranklin-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-ExtraBoldItalic.woff2") format("woff2"),
    url("../fonts/LibreFranklin-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-Bold.woff2") format("woff2"),
    url("../fonts/LibreFranklin-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-Thin.woff2") format("woff2"),
    url("../fonts/LibreFranklin-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-SemiBold.woff2") format("woff2"),
    url("../fonts/LibreFranklin-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-ThinItalic.woff2") format("woff2"),
    url("../fonts/LibreFranklin-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-MediumItalic.woff2") format("woff2"),
    url("../fonts/LibreFranklin-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-Italic.woff2") format("woff2"),
    url("../fonts/LibreFranklin-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/LibreFranklin-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-Medium.woff2") format("woff2"),
    url("../fonts/LibreFranklin-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-Regular.woff2") format("woff2"),
    url("../fonts/LibreFranklin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}