:root {
  --primary: #043c39;
  --secondary: #ed6c4f;
  --white: #ffffff;
  --footer-menu: #bfbfbf;
  --skin: #edede5;
  --black: #000000;
  --main-color: #bfbfbf;
  --libre-franklin: "Libre Franklin", sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: auto; */
}

*::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 16px;
  font-family: var(--libre-franklin);
}

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar-button {
  display: none;
}

body {
  -ms-overflow-style: none;
}

.container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0px 16px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

a {
  text-decoration: none;
  white-space: nowrap;
}

span {
  display: inline-block;
}

ul,
ol,
li {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 34px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 20px;
}

.btn {
  width: 192px;
  height: 50px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  line-height: 1;
  padding: 17px 40px;
  transition: all 500ms ease-in-out;
  border: 1px solid transparent;
  clip-path: polygon(6% 0, 100% 0%, 96% 100%, 0% 100%);
  cursor: pointer;
}

.btn-header {
  background-color: var(--white);
  color: var(--black);
}

.btn-header:hover {
  background-color: var(--secondary);
  color: var(--white);
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}

.btn-primary:hover {
  background-color: var(--white);
  color: var(--black);
}

.btn-text {
  width: fit-content;
  display: inline-block;
  font-size: 13px;
  line-height: 1;
  padding: 17px 40px;
  transition: all 500ms ease-in-out;
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--white);
}

.btn-text:hover {
  background-color: transparent;
  border: 1px solid var(--white);
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--white);
}

.btn-secondary:hover {
  background-color: var(--white);
  color: var(--black);
}

/* header start */
.header-change {
  background: transparent;
  background-color: var(--black);
}

.top-header {
  background-color: var(--primary);
  width: 100%;
  left: 0;
}

.icons-home {
  color: var(--white);
  padding: 12px 20px;
}

.nav-bar-paragraph {
  color: var(--white);
  font-weight: 100;
  padding: 12px 0px;
}

.nav-bar-subtitle {
  color: var(--white);
  font-weight: 600;
}

.menu {
  justify-content: end;
}

.main-header {
  padding: 34px 0px;
}

.menu ul li:not(:first-child) {
  margin-left: 38px;
}

.menu ul li:nth-last-child(2) {
  margin-right: 33px;
}

.menu ul li a {
  font-size: 13px;
  color: var(--white);
  transition: all 500ms ease-in-out;
  padding: 5px 0px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background: linear-gradient(
    180deg,
    rgba(25, 3, 29, 0.258140756302521) 62%,
    rgba(9, 9, 121, 0) 99%
  );
  transition: all 500ms ease-in-out;
}

.toggel-bar {
  display: none;
  padding: 10px;
}

.toggel-bar img {
  width: 35px;
}

.menu-img-bar {
  display: none;
}

.hidden-text {
  display: none;
}

.header-logo a:nth-child(2) {
  display: none;
}
/* header end */

/* banner star */
.banner {
  background-color: var(--skin);
}

.banner {
  position: relative;
  height: 100vh;
}

.banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0;
}

.banner .container {
  width: 100%;
  height: 100%;
}

.banner-img-content {
  width: 100%;
  height: 100%;
}

.banner-content,
.banner-whoweare-content {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.banner-subtitle {
  font-size: 12px;
  color: var(--white);
  padding-bottom: 12px;
  font-weight: 500;
}

.banner-title {
  color: var(--white);
  font-weight: 300;
  max-width: 730px;
  padding-bottom: 17px;
}

.inner-subtitle {
  font-weight: 600;
}

.banner-btn {
  gap: 20px;
}

.banner-btn a:nth-child(2) {
  display: none;
}
/* banner end */

/* transformation start */
.transformation {
  background-color: var(--secondary);
  position: relative;
  background-image: url(../images/vetors/lost-banner.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;
  padding: 140px 0px;
  height: 100vh;
}

.lost-subtitle {
  font-size: 12px;
  color: var(--white);
  padding-bottom: 10px;
  font-weight: 100;
}

.lost-title {
  color: var(--white);
  font-weight: 200;
  max-width: 561px;
  padding-bottom: 18px;
}

.lost-paragraph {
  line-height: 1.6;
  color: var(--white);
  padding-bottom: 18px;
  max-width: 632px;
  font-weight: 100;
}
/* transformation end */

/* three-grid box start */ 
.all-columbox {
  background: var(--primary);
  padding-top: 200px;
}

.three-columbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.columbox-title {
  color: var(--white);
  padding-bottom: 11px;
  font-size: 22px;
}

.colum-title {
  padding-bottom: 27px;
  color: var(--white);
  font-weight: 200;
}

.columbox {
  position: relative;
  overflow: hidden;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

.columbox-content {
  position: absolute;
  padding-left: 30px;
  display: flex;
  padding-bottom: 20px;
  bottom: -100%;
  flex-direction: column;
  justify-content: end;
  transition: all 500ms ease-in-out;
}

.columbox:hover .columbox-content {
  bottom: 0%;
}

.bg-black {
  position: absolute;
  width: 100%;
  height: 150px;
  bottom: 0;
  background: rgb(25, 3, 29);
  background: linear-gradient(
    0deg,
    rgba(14, 14, 14, 0.474) 58%,
    rgba(9, 9, 121, 0) 90%
  );
}

.all-columbox .top-box {
  margin-top: -470px;
  position: sticky;
  z-index: 1;
}

.columbox-img img {
  object-fit: cover;
}
/* three-grid box end */

/* slider start */
.slider-bar {
  padding: 150px 0px;
  background-color: var(--primary);
}

.slider-content {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.slider-subtitle {
  color: var(--white);
  font-size: 12px;
  padding: 25px 0px;
}

.main-content {
  color: var(--white);
  font-size: 43px;
  padding: 17px 0px;
  line-height: 1.3;
  max-width: 872px;
  font-weight: 300;
}

.name-title {
  color: var(--white);
  font-size: 13px;
  font-weight: 200;
}

.slider-bar .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.slider-bar .slick-dots li button {
  margin: 0px 2px;
  width: 17px;
  height: 2px;
  border: 1px solid transparent;
  background-color: #ffffff6d;
  transition: all 500ms ease-in-out;
}

.slider-bar .slick-dots .slick-active button {
  margin: 0px 2px;
  width: 36px;
  height: 2px;
  border: 1px solid transparent;
  background-color: var(--white);
}

.slider-bar .slick-dots li button {
  color: transparent;
}
/* slider end */

/* process start */
.process-box-all {
  background-color: var(--primary);
  padding: 100px 0px;
}

.processthree-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px 50px;
  justify-content: center;
}

.cricle-img {
  width: 300px;
  height: 300px;
  background-image: url(../images/vetors/circle-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}

.cricle-img img {
  width: 140px;
  height: 160px;
}

.process-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process-title {
  text-align: center;
  color: var(--white);
  font-weight: 200;
  padding-bottom: 55px;
}

.cricle-title {
  color: var(--white);
  padding: 10px 0px;
}

.cricle-paragraph {
  color: var(--white);
  font-size: 20px;
  max-width: 190px;
  line-height: 1.3;
  font-weight: 100;
  text-align: center;
}
/* process end */

/* resources start */
.resources-slid {
  background-color: var(--skin);
  padding: 100px 0px;
  overflow: hidden;
  position: relative;
}

.resources-slid .slick-list {
  overflow: visible;
}

.resources-columbox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px 22px;
  cursor: move;
}

.resources-img {
  width: 360px;
  height: 253px;
  aspect-ratio: 1/1;
  margin-bottom: 23px;
}

.resources-img img {
  object-fit: cover;
  width: 360px;
  height: 253px;
}

.resources-maintitle {
  color: var(--primary);
  font-weight: 300;
  padding-bottom: 35px;
}

.resources-subtitle {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
  color: var(--secondary);
  letter-spacing: 1px;
  padding-bottom: 12px;
  display: inline-block;
}

.resources-title {
  font-size: 22px;
  font-weight: 400;
  padding-bottom: 13px;
}

.resources-paragraph {
  line-height: 1.6;
  color: var(--black);
  opacity: 48%;
  font-weight: 200;
  max-width: 310px;
  height: 53px;
}

.resources-slider-box {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.resources {
  width: 100%;
  padding: 10px;
}

.resources-slid .slick-arrow {
  color: transparent;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: var(--primary);
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.resources-slid .slick-arrow:hover {
  background-color: var(--primary);
  opacity: 48%;
}

.resources-slid .slick-prev {
  background-image: url("../images/section/arrow-left.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -15%;
  right: 0;
  margin-right: 60px;
  z-index: 1;
}

.resources-slid .slick-next {
  background-image: url("../images/section/arrow-right.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -15%;
  right: 0;
  z-index: 1;
}

.slider-demobox {
  width: 130px;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: var(--skin);
  left: 0;
  bottom: 0;
}
/* resources end */

/* footer start */
footer {
  background-color: var(--primary);
  padding: 100px 0px;
  overflow: hidden;
}

.top-footerbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px 24px;
  overflow-x: auto;
  width: 100%;
}

.footer-content {
  background-color: var(--white);
  padding: 25px 23px;
  border-radius: 7px 7px 0px 0px;
}

.tag-title {
  color: var(--white);
  font-weight: 100;
  margin-right: 53px;
  margin-bottom: 26px;
  max-width: 240px;
}

.sub-date {
  color: var(--black);
  opacity: 48%;
  font-weight: 300;
  font-size: 14px;
}

.footer-paragraph {
  line-height: 1.6;
  color: var(--black);
  font-size: 13px;
  padding-top: 14px;
}

.footer-img {
  width: 100%;
  height: 200px;
  aspect-ratio: 1/1;
}

.footer-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-box {
  min-width: 325px;
}

.main-footer {
  padding-top: 74px;
}

.main-footer-title {
  color: var(--white);
  font-weight: 200;
  padding-bottom: 34px;
}

.footer-contact {
  padding-bottom: 40px;
}

.contact-icone {
  width: 45px;
  height: 45px;
  background-color: var(--secondary);
  border-radius: 50%;
  margin-right: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms ease-in-out;
}

.contact-icone img {
  width: 23px;
  height: 16px;
}

.footer-number {
  padding-right: 34px;
  color: var(--white);
  font-size: 18px;
  font-weight: 300;
}

a:hover .contact-icone {
  background-color: var(--secondary);
  opacity: 70%;
}

.social-icones {
  padding-bottom: 60px;
}

.social-icones .img-icon:not(:first-child) {
  margin-left: 30px;
}

.footer-menu li:not(:first-child) {
  margin-left: 24px;
}

.footer-menu li a {
  font-size: 14px;
  color: var(--footer-menu);
  font-weight: 200;
}

.loging-title {
  color: var(--white);
  font-size: 34px;
  padding-bottom: 8px;
  font-weight: 200;
}

.loging-paragraph {
  color: var(--white);
  opacity: 50%;
  font-weight: 200;
  padding-bottom: 25px;
}

.footer-form {
  position: relative;
}

.footer-form input[type="email"] {
  border: 1px solid transparent;
  outline: none;
  padding: 16px 29px;
  width: 100%;
  /* max-width: 444px; */
  height: 53px;
  clip-path: polygon(4% 0, 100% 0%, 96% 100%, 0% 100%);
  font-size: 16px;
  color: var(--black);
  background-color: var(--white);
  position: relative;
}

.play-icone {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 80px;
  height: 100%;
  clip-path: polygon(22% 0, 100% 0%, 100% 100%, 0% 100%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: var(--secondary);
}
/* footer end */

/* Who We Are page start */

/* twocolum-information start */
.twocolum-information {
  padding: 100px 0px;
  background: var(--skin);
}

.information-gridbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 40px;
}

.information-box-title {
  max-width: 555px;
  overflow-y: auto;
  margin-bottom: 14px;
}

.information-title {
  color: var(--primary);
  line-height: 1.3;
  font-weight: 400;
  width: 100%;
}

.information-paragraph {
  line-height: 1.6;
  color: var(--primary);
  font-weight: 300;
  margin: 10px 0px;
  width: 100%;
}

.information-box-paragraph {
  max-width: 516px;
  overflow-y: auto;
}

.information-gridbox::-webkit-scrollbar {
  display: none;
}
/* twocolum-information end */

/* circle-data star */
.circle-data {
  padding: 50px 0px;
  background-color: var(--skin);
  overflow: hidden;
}

.circle-allbox {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0px 100px;
}

.criclebox-img {
  width: 261px;
  height: 261px;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.criclebox-img img {
  width: 150px;
  height: 150px;
}

.green {
  color: var(--primary);
}

.circle-autoplay {
  width: 100%;
  max-width: 1350px;
}

.circle-data .slick-list {
  overflow: visible;
}
/* circle-data end */

/* purpose start */
.purpose {
  position: relative;
  background-image: url(../images/section/purpose-bg-img.png);
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: right;
  background-color: var(--skin);
}

.purpose::before {
  content: "";
  position: absolute;
  background-color: var(--secondary);
  clip-path: polygon(0 -1%, 73% -1%, 100% 100%, 0 100%);
  width: 70%;
  height: 100%;
  top: 0;
  left: 0;
}

.purpose-box {
  position: relative;
  padding-block: 90px;
}

.purpose-paragraph {
  max-width: 500px;
  height: 53px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--white);
  font-weight: 100;
  margin-bottom: 22px;
  line-height: 1.9;
}

.purpose-paragraph::-webkit-scrollbar {
  display: none;
}

.purpose-sub-title {
  color: var(--white);
  font-weight: 200;
  padding-bottom: 10px;
}

/* purpose end */

/* three-grid box start */
.all-columbox-to {
  background-color: var(--skin);
  padding: 100px 0px;
}

/* three-grid box end */

/* tow-colum-page start  */

.tow-colum-page {
  padding: 200px 0px;
  background-color: var(--primary);
}

.show-colum-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px 110px;
}

.show-content {
  grid-column: 2/4;
}

.show-title {
  position: relative;
}

.first-colum-showbox {
  width: 251px;
  background-color: var(--secondary);
  padding: 50px 0px;
  padding-left: 40px;
  padding-right: 10px;
  position: sticky;
  top: 200px;
}

.click-menu {
  padding-bottom: 40px;
}

.click-menu li a {
  display: inline-block;
  color: var(--white);
  font-size: 14px;
  font-weight: 200;
  padding-bottom: 10px;
  transition: all 100ms ease-in-out;
}

.click-menu li a:focus {
  border-left: 2px solid var(--black);
  padding-left: 10px;
}

.secondbox-title {
  color: var(--white);
  padding-bottom: 14px;
}

.secondbox-paragraph {
  color: white;
  font-weight: 100;
  line-height: 1.8;
  max-width: 713 px;
  height: 141px;
  overflow-x: hidden;
  margin-bottom: 54px;
}

.secondbox-paragraph::-webkit-scrollbar {
  display: none;
}

.secondbox-img {
  padding-bottom: 60px;
}

.secondbox-subtitle {
  font-size: 12px;
  color: white;
  font-weight: 100;
  padding-bottom: 10px;
  letter-spacing: 2px;
}

.second-buttonbox {
  padding-bottom: 86px;
}

.left-arow-img {
  width: 43px;
  height: 43px;
  display: inline-block;
}

.secondimgbox-subtitle {
  text-transform: uppercase;
  color: var(--secondary);
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 200;
  padding-bottom: 12px;
}

.secondimgbox-title {
  max-width: 200px;
  font-size: 22px;
  font-weight: 400;
  color: var(--white);
  padding-bottom: 14px;
}

.secondimgbox-paragraph {
  color: var(--white);
  font-size: 13px;
  line-height: 1.7;
  font-weight: 100;
  max-width: 228px;
  margin-bottom: 12px;
}

.second-img-content {
  margin-left: 40px;
}

.communication {
  border: 2px solid rgba(255, 255, 255, 0.178);
  border-right: 0;
  border-left: 0;
  padding-top: 80px;
  margin-bottom: 80px;
}

.secondbox-img img {
  object-fit: cover;
}
/* tow-colum-page end */

/* Who We Are page end */

/* our purpose start */

/* our purpose tow colum start */
.tow-colum-ourbox {
  padding: 50px 0px;
  background-color: var(--primary);
}

.our-allbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.our-title {
  color: var(--white);
  font-weight: 200;
  max-width: 536px;
}

.our-paragraph {
  color: var(--white);
  font-weight: 100;
  line-height: 1.6;
  max-width: 516px;
  height: 310px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* our purpose tow colum end */

/* our purpose tow colum img-content start */
.purpose-imgcontent {
  padding: 100px 0px;
  background-color: var(--primary);
  color: var(--white);
  font-weight: 100;
}

.purpose-imgcontent-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 90px 100px;
  align-items: center;
}

.ourcontent-subtitle {
  color: var(--secondary);
  font-size: 12px;
  padding-bottom: 16px;
}

.ourcontent-title {
  font-size: 26px;
  padding-bottom: 16px;
  font-weight: 300;
}

.ourcontent-paragraph {
  line-height: 1.6;
  max-width: 493px;
  height: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 24px;
}

.ourimg-box img {
  object-fit: cover;
  width: 100%;
  height: 567px;
}

/* our purpose tow colum img-content end */

/* our-purpose start */
.our-purpose {
  position: relative;
  background-image: url(../images/section/our-purpose-bghaf.png);
  background-repeat: no-repeat;
 background-size: 50% 100%;
  background-position: right;
  background-color: var(--skin);
}

.our-purpose::before {
  content: "";
  position: absolute;
  background-color: var(--secondary);
  clip-path: polygon(0 -1%, 80% -1%, 100% 100%, 0 100%);
  width: 70%;
  height: 100%;
  top: 0;
  left: 0;
}
/* our-purpose end */

/* our purpose end */
.banner-clip {
  padding: 180px 0px;
  background-color: var(--secondary);
  position: relative;
  overflow: hidden;
  color: var(--white);
  font-weight: 100;
}

.resourcesbanner-img {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.resourcesbanner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.resourcesbanner-title {
  max-width: 400px;
  font-weight: 100;
  padding-bottom: 18px;
}

.resourcesbanner-paragraph {
  max-width: 460px;
  height: 65px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.8;
  margin-bottom: 10px;
}

.resourcesbanner-img img:nth-child(2) {
  display: none;
}

/* resources page start */

/* filterbox start */

.resources-filterbox {
  padding: 100px 0px;
  background-color: var(--skin);
}

.filter-gridbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px 22px;
}

.filter-btn li:not(:first-child) {
  padding: 10px 22px;
  background-color: var(--secondary);
  margin-left: 16px;
  color: var(--white);
  border-radius: 20px;
  border: 1px solid transparent;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

.filter-btn li:not(:first-child):hover {
  opacity: 50%;
}

.filter-btn li:first-child {
  color: var(--primary);
  font-size: 12px;
  white-space: nowrap;
}

.filter-btn li a {
  color: var(--white);
  font-size: 12px;
  white-space: nowrap;
}

.filter-resources {
  width: 100%;
}

.filter-resources-img {
  width: 100%;
  height: 100%;
  max-height: 254px;
  aspect-ratio: 1/1;
  margin-bottom: 23px;
}

.filter-resources-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* filterbox end */

/* latest and updates start  */
.mail-contentbox {
  background-color: var(--primary);
  padding: 37px 0px;
}

.mail-title {
  font-size: 28px;
  color: var(--white);
  font-weight: 300;
  margin-right: 39px;
  text-align: center;
}
/* latest and updates end */

/* resources page end */

/* res-open-heasder start */

.res-open-heasder ul li a {
  color: var(--primary);
}

/* preach-box start */
.res-open-heasder {
  background: var(--skin);
}

.res-header-change {
  background-color: var(--skin);
}

.preach-box {
  padding: 200px 0px;
  background-color: var(--skin);
}

.preach-girdbox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.video-box-grid {
  grid-column: 2/5;
}

.res-shareicons a {
  width: 40px;
  height: 40px;
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 8px;
  border: 1px solid transparent;
  transition: all 500ms ease-in-out;
}

.res-shareicons a:hover {
  background-color: var(--primary);
}

.res-shareicons a img {
  width: 20px;
  height: 20px;
}

.res-subtitle {
  color: var(--black);
  opacity: 40%;
  font-size: 14px;
  display: inline-block;
  padding-bottom: 12px;
  font-weight: 400;
}

.video-img-box {
  width: 100%;
  position: relative;
}

.play-btn {
  position: absolute;
  margin: auto;
  inset: 0;
  width: 111px;
  height: 111px;
  z-index: 2;
}

.ping {
  position: absolute;
  width: 111px;
  height: 111px;
  margin: auto;
  inset: 0;
  background-color: var(--white);
  border-radius: 50%;
  animation: ping 2s infinite ease-in-out;
  z-index: 1;
  opacity: 45%;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.res-coltow-mintitle {
  padding-bottom: 17px;
  font-size: 12px;
  letter-spacing: 2px;
  color: var(--secondary);
  font-weight: 300;
  display: inline-block;
}

.res-maintitle {
  color: var(--primary);
  font-weight: 300;
  padding-bottom: 18px;
}

.res-paragraph,
.resvideo-paragraph {
  margin-bottom: 47px;
  line-height: 1.8;
  max-width: 824px;
  height: 107px;
  overflow-y: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
  color: var(--primary);
}

.resvideo-paragraph {
  max-width: 824px;
  height: 250px;
  margin-bottom: 35px;
}

.res-secondtitle {
  font-size: 31px;
  font-weight: 300;
  padding-top: 43px;
  padding-bottom: 23px;
  color: var(--primary);
}

.video-share-box {
  width: 100%;
  height: 500px;
}

.rea-title-show h3:nth-child(2) {
  display: none;
}

/* preach-box end */

.secondary-bg {
  background-color: var(--secondary);
}

.secondary-color {
  color: var(--white);
  font-weight: 200;
}

.res-resources-slid .slick-arrow {
  color: transparent;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: transparent;
  background-color: var(--secondary);
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.res-resources-slid .slick-arrow:hover {
  opacity: 50%;
}

.res-resources-slid .slick-prev {
  background-image: url("../images/vetors/res-left-arow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -15%;
  right: 0;
  margin-right: 60px;
  z-index: 1;
}

.res-resources-slid .slick-next {
  background-image: url("../images/vetors/res-right-arow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -15%;
  right: 0;
  z-index: 1;
}
/* res-open-heasder end */

/* res purpose start  */
.res-purpose {
  position: relative;
  background-image: url(../images/section/res-clip-bg.png);
  background-repeat: no-repeat;
 background-size: 50% 100%;
  background-position: right;
  background-color: var(--skin);
}

.res-purpose::before {
  content: "";
  position: absolute;
  background-color: var(--primary);
  clip-path: polygon(0 0%, 100% 0%, 82% 100%, 0 100%);
  width: 70%;
  height: 100%;
  top: 0;
  left: 0;
}
/* res purpose end    */

/* help-box start */
.help-box {
  padding: 200px 0px;
  background-color: var(--skin);
}

.help-subtitle {
  font-size: 12px;
  color: var(--secondary);
  letter-spacing: 2px;
  font-weight: 300;
  display: inline-block;
  padding-bottom: 13px;
}

.help-title {
  padding-bottom: 13px;
  font-weight: 400;
  color: var(--black);
}

.hlep-paragraph {
  max-width: 657px;
  height: 53px;
  line-height: 1.8;
  overflow: hidden;
  text-overflow: clip;
  font-weight: 400;
  color: var(--primary);
  margin-bottom: 21px;
}

.help-allbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 184px 53px;
  margin-top: 45px;
}

.helpimg-title {
  color: var(--black);
  font-size: 24px;
  padding-bottom: 15px;
  padding-top: 25px;
  font-weight: 400;
}

.helpimg-paragraph {
  color: var(--primary);
  font-weight: 300;
  line-height: 1.8;
  max-width: 480px;
  height: 55px;
}

.helpbox-img {
  width: 100%;
  max-height: 468px;
  aspect-ratio: 1/1;
}

.helpbox-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.help-allbox .help-img-box:nth-child(1) {
  transform: translateY(100px);
}

.help-allbox .help-img-box:nth-child(3) {
  transform: translateY(100px);
}

.help-title-show h2:nth-child(2) {
  display: none;
}
/* help-box end */
p {
  overflow: hidden;
  text-overflow: clip;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* services-cas-banner start */
.services-cas-banner {
  padding: 120px 0px 50px 0px;
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: var(--skin);
}

.services-verticalbox {
  display: inline-block;
  padding: 12px 45px;
  background-color: var(--secondary);
  position: fixed;
  z-index: 1;
  bottom: 55%;
  left: -4.5%;
  color: var(--white);
  border: 1px solid transparent;
  transition: all 500ms ease-in-out;
  transform: rotate(-90deg);
}

.services-img {
  position: absolute;
  left: 0;
  width: 100%;
}

.services-img img {
  object-fit: cover;
}

.services-verticalbox:hover {
  background-color: var(--white);
  color: var(--black);
}

.services-img img:nth-child(2) {
  display: none;
}
/* services-cas-banner end */

/* case working start */
.working-box {
  padding: 100px 0px;
  background-color: var(--skin);
}

.grid-workingbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px 100px;
}

.span-working-box {
  grid-column: 1/3;
}

.working-subtitle {
  color: var(--secondary);
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 12px;
  display: inline-block;
  padding-bottom: 17px;
}

.working-maintitle {
  color: var(--primary);
  padding-bottom: 18px;
  font-weight: 300;
}

.working-paragraph {
  color: var(--primary);
  line-height: 1.9;
  font-weight: 300;
  max-width: 750px;
  height: 296px;
}

.clint-subtitle {
  color: var(--primary);
  padding: 20px 0px;
}

.clint-details div:nth-child(2) {
  border: 1px solid rgba(0, 0, 0, 0.105);
  border-left: 0;
  border-right: 0;
}
/* case working end */

/* img silder start */
.imges-slider-box {
  padding-bottom: 100px;
  background-color: var(--skin);
}

.img-movebox {
  width: 95%;
  height: 675px;
  aspect-ratio: 1/1;
}

.img-movebox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imges-slider-box .slick-arrow {
  color: transparent;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: var(--primary);
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.imges-slider-box .slick-arrow:hover {
  background-color: var(--primary);
  opacity: 48%;
}

.imges-slider-box .slick-prev {
  background-image: url("../images/section/arrow-left.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 50px;
  z-index: 1;
}

.imges-slider-box .slick-next {
  background-image: url("../images/section/arrow-right.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
/* img silder end */

/* out-come start */
.out-commentbox {
  padding-bottom: 100px;
  background-color: var(--skin);
}

.out-subtitle {
  display: inline-block;
  color: var(--secondary);
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 12px;
  padding-bottom: 30px;
}

.out-maintitle {
  font-size: 44px;
  color: var(--primary);
  max-width: 872px;
  font-weight: 350;
  line-height: 1.3;
  font-style: italic;
  padding-bottom: 20px;
}

.out-paragraph {
  font-size: 13px;
  color: var(--primary);
  font-weight: 500;
}
/* out-come end */

/* contact-page start */
.main-contactbox {
  padding: 200px 0px;
  background-color: var(--primary);
  /* background-image: url(../images/vetors/lost-banner.svg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: relative;
}

.contact-gridbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px 50px;
}

.contact-inputdatabox {
  grid-column: 2/4;
}

.contact-logo {
  padding: 7px 0px;
}

.main-contactbox form input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  width: 100%;
  height: 46px;
  outline: none;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.47);
  border: 1px solid transparent;
  color: var(--white);
}

.main-contactbox ::placeholder {
  color: #ffffff;
  font-size: 14px;
  font-weight: 100;
}

select {
  color: #ffffff;
  font-size: 14px;
  font-weight: 100;
}

select option {
  color: black;
}

.main-contactbox .input-box {
  width: 100%;
  margin: 7px 0px;
  display: inline-block;
}

.main-inputbox {
  gap: 0px 16px;
}

.main-contactbox textarea {
  width: 100%;
  max-width: 800px;
  max-height: 100px;
  min-height: 164px;
}

.contact-inputdatabox form {
  width: 100%;
  max-width: 800px;
}

.yes-btn input[type="radio"] {
  outline: 0;
  width: 21px;
  height: 21px;
  border: 1px solid transparent;
  cursor: pointer;
}

.yes-btn label {
  color: var(--white);
  padding: 0px 10px;
  font-size: 12px;
  font-weight: 200;
}

.yes-btn {
  margin-top: 30px;
  margin-bottom: 25px;
}

.yes-btn-res input[type="checkbox"] {
  outline: 0;
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  cursor: pointer;
}

.inputbtn-box input[type="button"] {
  cursor: pointer;
}

.yes-btn-res label {
  color: var(--white);
  padding: 0px 10px;
  font-size: 14px;
  font-weight: 200;
}

.yes-btn-res {
  margin: 50px 0px;
}

.inputbtn-box {
  flex-direction: column;
  align-items: center;
}

.yes-btn-res {
  display: none;
}

.modal-box {
  background-color: var(--skin);
  width: 100%;
  max-width: 1106px;
  height: 100%;
  max-height: 330px;
  border: 1px solid transparent;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  padding: 14px 16px;
}

.modal-content {
  text-align: center;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.modal-title {
  font-weight: 500;
  padding-bottom: 16px;
  color: var(--primary);
}

.modal-paragraph {
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 30px;
  color: var(--primary);
}

.modal-cancle-btn {
  width: 47px;
  height: 47px;
  background-color: var(--secondary);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 26px;
  cursor: pointer;
}

.modal-cancle-btn img {
  width: 15px;
  height: 15px;
}

.modal-bg {
  width: 100%;
  height: 100vh;
  top: 0;
  position: fixed;
  background-color: #0000008e;
  left: 0;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-in-out;
}

.is-visible {
  opacity: 1;
  visibility: visible;
}

.noscroll {
  overflow: hidden;
}

.green-bg {
  background-color: var(--primary);
  height: 100vh;
}

/* contact-page end */

/* loging page start */
.logingbox-title {
  padding-bottom: 12px;
  color: var(--white);
  font-weight: 200;
}

.logingbox-subtitle {
  display: inline-block;
  padding-bottom: 14px;
  font-size: 14px;
  color: var(--main-color);
  font-weight: 100;
}

.loging-boder-box {
  border-bottom: 1px solid #ffffff42;
  width: 100%;
  max-width: 444px;
  margin-bottom: 20px;
}

.banner-clip .main-loging-inputdata label {
  padding-bottom: 10px;
  padding-top: 20px;
  font-size: 12px;
  color: var(--white);
  display: block;
}

.banner-clip .main-loging-inputdata input[type="email"],
input[type="password"] {
  width: 100%;
  max-width: 444px;
  height: 46px;
  padding: 12px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.47);
  color: var(--white);
  border: 1px solid transparent;
}

.main-loging-inputdata div:nth-child(2) {
  margin-bottom: 34px;
}

.main-loging-inputdata ::placeholder {
  color: #ffffff;
  font-size: 14px;
  font-weight: 100;
  opacity: 70%;
}

.main-loging-box {
  margin-bottom: 50px;
}

.btn-text:hover {
  border: 1px solid transparent;
}
/* loging page end */

/* banner content start */
.banner-content-nest {
  padding: 200px 0px;
  text-align: center;
  background-color: var(--secondary);
  color: var(--white);
}

.programm-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.banner-content-title {
  font-weight: 200;
  padding-bottom: 18px;
}

.banner-content-paragraph {
  font-weight: 100;
  line-height: 1.8;
  max-width: 754px;
  height: 53px;
  margin-bottom: 54px;
}

.banner-content-subtitle {
  font-weight: 100;
  font-size: 12px;
  display: inline-block;
  padding-bottom: 26px;
}
/* banner content end */

/* questions start */

.main-frequently-box {
  background-color: var(--primary);
  padding: 100px 0px;
  color: var(--white);
}

.frequently-box {
  background-color: #ffffff54;
  padding: 24px 30px;
  width: 100%;
  max-width: 1104px;
  margin: 16px auto;
  cursor: pointer;
}

.frequently-img-box {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--secondary);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.frequently-img-box img {
  width: 16px;
  height: 16px;
  transition: all 500ms ease-in-out;
  transform: rotate(0deg);
}

.frequently-box-title {
  font-size: 22px;
  font-weight: 300;
  width: 100%;
  max-width: 458px;
}

.frequently-paragraph {
  line-height: 1.8;
  max-width: 880px;
  height: 83px;
  margin-top: 20px;
  margin-bottom: 18px;
  font-weight: 100;
}

.frequently-title {
  padding-bottom: 34px;
  text-align: center;
}

.accordian {
  display: none;
  overflow: hidden;
}

.rotate {
  transform: rotate(45deg);
  transition: all 500ms ease-in-out;
}

.res-purpose-nests {
  position: relative;
  background-image: url(../images/section/res-clip-bg.png);
  background-repeat: no-repeat;
 background-size: 50% 100%;
  background-position: right;
  background-color: var(--skin);
  overflow: hidden;
}

.res-purpose-nests::before {
  content: "";
  position: absolute;
  background-color: var(--secondary);
  clip-path: polygon(0 0%, 100% 0%, 82% 100%, 0 100%);
  width: 70%;
  height: 100%;
  top: 0;
  left: 0;
}
/* questions end */

/* banner-programm content start */
.banner-programm {
  padding-top: 200px;
  padding-bottom: 100px;
  background-color: var(--primary);
  color: var(--white);
}

.bannerpro-content-title {
  padding: 14px;
  font-weight: 200;
}

.pro-sub-title {
  color: white;
  font-weight: 100;
  font-size: 14px;
}

/* banner-programm content end */

/* download-box start */

.main-download-box {
  padding: 100px 0px;
  background-color: var(--skin);
}

.download-box {
  padding: 20px 30px;
  background-color: var(--white);
  width: 100%;
  max-width: 1004px;
  margin: 23px 0px;
  box-shadow: 0px 0px 15px #043c3922;
}

.dow-subtitle {
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 10px;
  display: inline-block;
  color: var(--secondary);
  font-size: 12px;
  font-weight: 400;
}

.dow-title {
  font-size: 38px;
  font-weight: 300;
  color: var(--primary);
  padding-bottom: 10px;
}

.pro-button-filter {
  gap: 15px;
}

.pro-button-filter button {
  padding: 10px 26px;
  background-color: var(--secondary);
  border-radius: 30px;
  border: 1px solid transparent;
  cursor: pointer;
  color: var(--white);
  font-weight: 100;
  transition: all 500ms ease-in-out;
}

.pro-button-filter button:hover {
  opacity: 48%;
}

.dow-box-title {
  padding-bottom: 6px;
  font-size: 18px;
  font-weight: 400;
  color: var(--primary);
}

.pro-paragraph {
  font-size: 14px;
  font-weight: 100;
  color: var(--primary);
}

.dowbox-sub-title {
  color: var(--primary);
  font-size: 12px;
  padding: 14px;
  display: inline-block;
}

.download-img {
  width: 44px;
  height: 44px;
  cursor: pointer;
}

/* download-box end */

/* by-video-box strat */
.by-video-box {
  padding: 100px 0px;
  background-color: var(--skin);
}

.by-video-box-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px 22px;
}

.three-columnvideo-box {
  margin-top: 40px;
}

.by-play-box {
  position: absolute;
  width: 85px;
  height: 85px;
  background-color: color-mix(in srgb, var(--secondary) 75%, transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: auto;
  inset: 0;
}

.by-imges {
  position: relative;
  width: 100%;
  height: 240px;
  aspect-ratio: 1/1;
}

.by-imges img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.by-play-box img {
  width: 30px;
  height: 30px;
  z-index: 2;
}

.ping-nest {
  position: absolute;
  width: 80px;
  height: 80px;
  margin: auto;
  inset: 0;
  background-color: var(--secondary);
  border-radius: 50%;
  animation: ping-nest 2s infinite ease-in-out;
  opacity: 35%;
}

@keyframes ping-nest {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.by-img-subtitle {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 27px 0px 6px 0px;
}

.by-img-paragraph {
  font-size: 14px;
  font-weight: 100;
  color: var(--primary);
  text-align: center;
}
/* by-video-box end */

/* questions start */
.main-frequently-box-pro {
  background-color: var(--skin);
  padding: 100px 0px;
  color: var(--white);
}

.frequently-title-pro {
  padding-bottom: 34px;
  color: var(--primary);
  font-size: 38px;
  font-weight: 300;
}

.frequently-box-pro {
  background-color: var(--white);
  padding: 24px 30px;
  width: 100%;
  max-width: 1136px;
  margin: 16px 0px;
  cursor: pointer;
  box-shadow: 0px 0px 15px #043c3921;
}

.frequently-box-title-pro {
  font-size: 22px;
  font-weight: 400;
  width: 100%;
  color: var(--primary);
}

.frequently-paragraph-pro {
  color: var(--primary);
  line-height: 1.8;
  max-width: 880px;
  height: 83px;
  margin-top: 20px;
  margin-bottom: 18px;
  font-weight: 100;
}
/* questions end */

/* question-area start */
.area-question-box {
  padding: 100px 0px;
  background-color: var(--primary);
  color: var(--white);
}

.area-subtite {
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  width: 100%;
  max-width: 92px;
}

.area-box {
  padding: 20px 0px;
  border-top: 1px solid color-mix(in srgb, var(--footer-menu) 28%, transparent);
  gap: 0px 50px;
  width: 100%;
}

.area-title {
  font-size: 38px;
  padding-bottom: 30px;
  font-weight: 200;
  color: var(--white);
}

.area-paragraph {
  width: 100%;
  max-width: 777px;
  height: 23px;
  line-height: 1.4;
  font-weight: 100;
  text-align: start;
}

.data-area-subtitle {
  font-size: 12px;
  font-weight: 100;
  display: inline-block;
  width: 100%;
  max-width: 93px;
}

.area-text-box textarea {
  width: 100%;
  max-height: 100px;
  min-height: 163px;
  border: 1px solid transparent;
}

.area-text-box {
  margin-top: 46px;
  margin-bottom: 34px;
}

.area-text-box ::placeholder {
  color: white;
  font-size: 14px;
}

.main-area-box {
  max-width: 1136px;
}
/* question-area end */

/* main-policy-box start */
.main-policy-box {
  padding: 200px 0px;
  background-color: var(--skin);
}

.show-title-policy {
  padding: 40px;
}

.show-title-policy {
  position: relative;
}

.policy-menu {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 250px;
  background-color:var(--secondary);
  padding: 40px;
  position: sticky;
  top: 200px;
}

.policy-paragraph {
  overflow: visible;
  height:600px;
  line-height: 1.8;
  max-width: 713px;
  color: var(--primary);
}

.tow-colum-policy-box {
  gap: 0px 100px;
}

.policy-title {
  padding-bottom: 26px;
  font-weight: 300;
  color: var(--primary);
}

.terms-box{
  padding: 58px 0px 26px 0px;
}
/* main-policy-box end */
